.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 22vw;
  background: #3B5CCC;
  color: white;
  padding: 16px;
  transition: width 0.3s ease;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 22vw;
  gap: 24px;
}


.collapsedBar {
  width: 7vw;
}

.buttonContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainerOpen {
  margin-bottom: 24px;
}

.collapsedToggle {
  color: #e9eef8;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, bold;
  font-weight: 900;
}

.toggle {
  color: #e9eef8;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 8px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, bold;
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 16px;
  font-family: 'Inter', 'sans-serif';
}


.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  top: 40px;
  right: 20px;
}

.nav a {
  color: #F8FAFC;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Inter', 'sans-serif';
}

.main {
  flex: 1;
  padding: 24px;
  background: #bee7ff;
}
