.page {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    background-color: #0f172a;
    background: linear-gradient(to bottom right, #f8fafc, #e2e8f0);
    font-family: 'DM Sans', sans-serif;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
    padding: 30px 15px 30px 30px;
    gap: 20px;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 25%;
    padding: 30px 30px 30px 15px;
    gap: 10px;
    flex: 1;
}

.titleCard {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: #f8fafc;
    width: 100%;
    height: 20%;
    border-radius: 15px;
    border-color: #3b5ccc;
    border-width: 3px;
    gap: 25px;
    background-color: #f8fafc;
}
                        
.profileRing {
    height: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    border-color: #3b5ccc;
    border-width: 4px;
    background: linear-gradient(to top left, #ceced1, rgb(100, 114, 196));
    margin-left: 45px;
}

.userName {
    font-family: sans-serif;
    text-transform: uppercase;
    color: #334155;
    font-size: 2rem;
}

.titleButtonBoxOuter {
    flex: 1;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
}

.titleButtonBoxInner {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.TitleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter' serif;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #3b5ccc;
    background: linear-gradient(to top left, #9d9dc4, #3b5ccc);
    padding: 8px;
    border-radius: 10px;
    font-style: italic;
    cursor: pointer;
}

.TitleButton:hover {
    background: linear-gradient(to bottom right, #9d9dc4, #3b5ccc);
    transition: 100ms ease;
}

.contentCard {
    position: relative;
    display: flex;
    flex-direction: center;
    align-items: center;
    background-color: #f8fafc;
    width: 100%;
    flex: 1;
    border-radius: 15px;
    border-color: #3b5ccc;
    border-width: 3px;
}

.sideCard {
    position: relative;
    display: flex;
    flex-direction: center;
    align-items: center;
    background-color: #f8fafc;
    width: 100%;
    flex: 1;
    border-radius: 15px;
    border-color: #3b5ccc;
    border-width: 3px;
}
